@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&family=Roboto:wght@300;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url(../images/osrs.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    background-color: rgba(20, 20, 20, .6);
    width: 100%;
}

h1, h2, h3, h4, h5 {
    background-color: rgba(20, 20, 20, .6);
}

/*-------------------Logo---------------------*/

#logo #navbar{
    line-height: 100px;
}

/*-------------------Nav Bar---------------------*/

.navbar {
    background-color: rgba(0, 0, 0, .3);
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

.navbar-nav a {
  color: rgb(252, 122, 0);
  padding-bottom: 0;
  text-transform: uppercase;
}

.navbar-nav a:hover {
  color: rgb(252, 17, 0);
}

.active {
  border-bottom: 2px solid rgb(252, 122, 0);
}

/*-------------------Content Update---------------------*/

#update {
    color: #FF8C00;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    line-height: 20px;
    padding: 20px;
}

#update-heading {
    background-color: rgba(20, 20, 20, .6);
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
}

#update-heading, p {
    background-color: rgba(20, 20, 20, .6);
}

.alert {
    background-color: rgb(20, 20, 20);
    color: #8B0000;
    font-size: large;
}

.birthday {
    color: #FF8C00;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.birthday img {
    width: 100%;
    margin-top: 25px;
}

/*-------------------Video---------------------*/

.video-container {
    margin: 0 auto;
    position: relative;
}

.video-container iframe {
    border: 2px solid black;
}

/*-------------------Content Update---------------------*/

.game {
    color: #FF8C00;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.game-heading {
    color: #FF8C00;
    text-align: center;
    margin: 0 auto;
}

.about {
    color: #FF8C00;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.about-heading {
    color: #FF8C00;
    text-align: center;
    margin: 0 auto;
}

.quests {
    color: #FF8C00;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.quests-heading {
    color: #FF8C00;
    text-align: center;
    margin: 0 auto;
}
/*-------------------Useful Links---------------------*/

.streamers {
    color: #FF8C00;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.streamers-heading {
    color: #FF8C00;
    text-align: center;
    margin: 0 auto;
}

.streamers-heading, a {
    text-transform: uppercase;
}

.wiki {
    color: #FF8C00;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.wiki-heading {
    color: #FF8C00;
    text-align: center;
}

.clients {
    color: #FF8C00;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.client-links {
    background-color: rgba(20, 20, 20, .6);
    text-align: center;
    margin-left: 10px;
}

.client-links, ul {
    text-align: center;
    background-color: rgba(20, 20, 20, .6);
}


/*-------------------Footer/Socials---------------------*/

footer {
  background-color: rgba(20, 20, 20, .6);
  color: #FF8C00;
  min-height: 120px;
  margin: 0;
}

.socials {
    text-align: center;
    background-color: rgba(20, 20, 20, .6);
    min-height: 100%;
    min-width: 100%;
    padding: 20px;
    margin-right: 25px;
}


.socials i {
    color: #FF8C00;
    text-align: center;
    font-size: 200%;
}

.socials i:hover {
    color: #8B0000;
}

/*-------------------Icons---------------------*/
.fa {
    font-size: 30px;
}

.list-inline-item {
    font-size: larger;
    margin-left: 20px;
    text-align: center;
}

.list-inline-item, img {
    margin-left: 25px;
}

/*-------------------Responsive Widths---------------------*/
